.button-transparent {
  background-color: transparent;
  color: var(--app-text-color);
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  border: none;
  outline: none;

  font-weight: bold;
  font-size: 16px;
  font-family: inherit;

  border-radius: 20px;
}

.button-transparent:hover {
  transition: all 0.4s ease-in-out;
  background-color: var(--app-accent-light-color);
  color: var(--app-accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(29, 161, 242, 0.2);
  }

  .button-transparent:hover {
    background-color: var(--background);
  }
}
