.button {
  color: #ffffff;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  border: none;
  outline: none;

  font-weight: bold;
  font-size: 16px;
  font-family: inherit;
}

.button:hover {
  opacity: 0.75;
  transition: all 0.4s ease-in-out;
}

.button:hover .button-label-1 {
  display: none;
}

.button:hover .button-label-2 {
  display: inline;
}

.button:disabled {
  opacity: 0.75;
  cursor: default;
}

.button-rounded {
  border-radius: 20px;
  background-color: var(--app-accent-color);
}

.button-label-1 {
  display: inline;
}

.button-label-2 {
  display: none;
}
