.forbidden-container {
  display: block;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  line-height: 80vh;
}

.forbidden-container div {
  line-height: 0.8;
  display: inline-block;
  vertical-align: middle;
}

.forbidden-text {
  margin-left: 20px;
  display: flex;
  text-align: left;
}
