.profile-container {
  background-image: linear-gradient(
    var(--app-lightgray) 50%,
    var(--app-background-color) 50%
  );
  font-size: 14px;
  border-color: var(--app-lightgray);
  border-style: solid;
  border-width: 2px;
  min-width: 550px;
  padding: 10px;
  height: auto;
}

.main-profile-image {
  top: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: solid 3px black;
}

.profile-account-username {
  font-size: 20px;
  font-weight: bolder;
}

.profile-username {
  clear: both;
  overflow: hidden;
  width: auto;
  color: var(--app-shadow-text-color);
  text-decoration: none;
  font-size: 16px;
}

.profile-follow {
  width: auto;
  overflow: hidden;
  font-size: 16px;
  margin-top: 10px;
}

.profile-follow > div {
  float: left;
  /*margin: 0px 5px;*/
}

.follow:last-child {
  margin: 0px 15px;
}

.profile-account-name > div {
  float: left;
  /* margin: 0px 5px; */
}

.profile-account-verified {
  font-size: 20px;
  margin: 0px 5px;
  color: #1da1f2;
}

.profile-button {
  float: right;
  margin-top: -20px;
}
