.tweet-container {
    background-color: #fff;
    font-size: 14px;
    border: solid 1px gray;
    min-width: 600px;
    padding: 10px;
}

.tweet-container:hover {
    background-color: lightgray;
    cursor: pointer;
}

.tweet-header {
    display: inline-block;
    overflow: hidden;
}

.tweet-body {

}

.tweet-footer {

}

.tweet-account-name, .tweet-account-username, .tweet-date-posted { 
    float: left;
    margin: 0px 5px;
}

.tweet-account-name:hover {
    text-decoration: underline;
}

.tweet-account-verified {
    margin-left: -4px;
    float: left;
    color: #1DA1F2;
}

.tweet-image {
    float: left;
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}